* {
  margin: 0;
  padding: 0;
  border: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
main {
  background: linear-gradient(red, purple) right;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
button {
  width: 6rem;
  height: 2.5rem;
  border-radius: 1rem;
  position: fixed;
  right: 30%;
}
input {
  width: 35.5rem;
  height: 2.5rem;
  border-radius: 1rem;
  text-align: center;
  margin-right: 0.1rem;
  font-size: 1.5rem;
  position: fixed;
  right: 34%;
}
.detailes {
  width: 40rem;
  height: 20rem;
  background-color: transparent;
  display: grid;
  margin-left: 1rem;
  font-size: large;
}
.inputs {
  width: 40rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  background-color: #fff;
  border-radius: 1rem;
}
input:focus {
  outline-width: 0;
}
button:hover {
  background-color: orange;
  width: 6.5rem;
  height: 3rem;
  box-shadow: 0.3rem 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
}
@media (max-width: 1135px) and (min-width: 657px) {
  input {
    position: relative;
    right: 0;
  }
  button {
    position: relative;
    right: 0;
  }
}
